@charset "UTF-8";
/********************* FONTS ************************/
/* Hammersmith One, regular*/
/*font-family: 'Hammersmith One', sans-serif;*/
/*<link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">*/
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
/*Playfair Display, bold , regular, black*/
/*font-family: 'Playfair Display', serif;*/
/*<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet">*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");
/*Roboto, light, regular, black, thin*/
/*font-family: 'Roboto', sans-serif;*/
/*<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet">*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
/**************************************************/
/******************* RESET STYLE ******************/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**************************************************/
/**************** others sections *****************/
.main-container {
  max-width: 960px;
  /*МАКСИМАЛЬНА ШИРИНА КОНТЕЙНЕРА*/
  height: 100%;
  /*КОНТЕЙНЕР ЙДЕ НА ВСЮ ВИСОТУ НАСКРІЗЬ*/
  margin: 0 auto;
  /*вирівнювання контейнера по горизонталі*/
  text-align: center;
  /*внутрінність контейнера центрується*/
  padding-left: 10px;
  padding-right: 10px;
}

.header-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #311655;
}

.header {
  height: 670px;
  max-width: 1800px;
  margin: 0 auto;
  background: url("../img/header/header-img.png") no-repeat;
  block-size: cover;
  background-position: 50%;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 30px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-svg {
  width: 44px;
  height: 50px;
}

.logo-text {
  color: #10a1a4;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-left: 11px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navlink {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-right: 10px;
  margin-left: 12px;
  font-size: 13px;
  text-transform: uppercase;
}

.header__navlink_active {
  color: #00e0d0;
}

.header__text {
  max-width: 770px;
  height: 100%;
  margin: auto;
}

.header__title {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: 0.32px;
  margin-top: 130px;
  margin-bottom: 25px;
}

.header__descr {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.header__text-btn {
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px 10px 15px;
  text-transform: uppercase;
  border: 1px solid #00e0d0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 127px;
}

.our-story {
  min-height: 400px;
  margin: auto;
  max-width: 1600px;
}

.story-wrapper {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media screen and (max-width: 950px) {
  .story-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 675px) {
  .story-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.story-logo {
  margin-right: 100px;
}

@media screen and (max-width: 810px) {
  .story-logo {
    margin-right: 50px;
  }
}

@media screen and (max-width: 675px) {
  .story-logo {
    margin-right: 0;
  }
}

.big-logo {
  width: 235px;
}

@media screen and (max-width: 810px) {
  .big-logo {
    width: 150px;
  }
}

.story-text {
  text-align: left;
  max-width: 538px;
}

@media screen and (max-width: 675px) {
  .story-text {
    text-align: center;
  }
}

.story-title {
  color: #413d4b;
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-bottom: 28px;
}

@media screen and (max-width: 675px) {
  .story-title {
    margin-top: 30px;
  }
}

.story-descr__p {
  color: #413d4b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.42px;
  margin-bottom: 20px;
}

.story-btn {
  color: #0de2d2;
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 15px 10px 15px;
  text-transform: uppercase;
  border: 1px solid #00e0d0;
  border-radius: 6px;
  background-color: white;
}

@media screen and (max-width: 675px) {
  .story-btn {
    font-size: 20px;
    padding: 18px 55px 14px 55px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.story-btn:hover {
  color: white;
  border: 1px solid #423275;
  background-color: #423275;
}

.story-video .main-container {
  padding-left: 0;
  padding-right: 0;
}

.story-video {
  max-width: 1600px;
  min-height: 315px;
  margin: 0 auto;
  background-color: #311655;
}

@media screen and (max-width: 560px) {
  .story-video {
    min-height: 0;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.expertise {
  max-width: 1600px;
  margin: auto;
}

.expertise-titles {
  padding-top: 30px;
  padding-bottom: 50px;
}

@media screen and (max-width: 960px) {
  .expertise-titles {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.expertise-title {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30px;
  margin-bottom: 13px;
}

.expertise-subtitle {
  opacity: 0.75;
  color: #2f2d35;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  margin-bottom: 18px;
}

.expertise-underline {
  width: 50px;
  height: 2px;
  background-color: #413d4b;
  opacity: 0.3;
}

.expertise-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 80px;
}

@media screen and (max-width: 960px) {
  .expertise-items {
    padding-bottom: 40px;
  }
}

.expertise-item {
  max-width: 254px;
  padding-top: 25px;
  padding-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .expertise-item {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 350px;
  }
}

@media screen and (max-width: 800px) {
  .expertise-item {
    max-width: 400px;
  }
}

.expertise-item__logo {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 39px;
}

@media screen and (max-width: 960px) {
  .expertise-item__logo {
    margin-bottom: 20px;
  }
}

.expertise-item__title {
  color: #413d4b;
  font-family: "Roboto - Black", sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-bottom: 25px;
  white-space: nowrap;
}

.expertise-item__descr {
  opacity: 0.75;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.7px;
}

.our-team {
  max-width: 1600px;
  margin: auto;
  background-color: #311655;
}

.team-wrapper {
  background: url("../img/our-team/team-img-back.png");
  block-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 947px) {
  .team-wrapper {
    background: url("../img/our-team/team-img-back2.png");
  }
}

@media screen and (max-width: 483px) {
  .team-wrapper {
    background: url("../img/our-team/team-img-back3.png");
  }
}

.team-wrapper-inner {
  min-height: 712px;
}

.team-titles {
  padding-top: 31px;
  padding-bottom: 17px;
}

@media screen and (max-width: 483px) {
  .team-titles {
    padding-bottom: 10px;
  }
}

.team-title {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 16px;
}

@media screen and (max-width: 483px) {
  .team-title {
    padding-top: 20px;
  }
}

.team-subtitle {
  color: #f9f9f9;
  font-family: "Playfair Display";
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  padding-bottom: 18px;
}

.team-underline {
  width: 50px;
  height: 2px;
  background-color: white;
  opacity: 0.2;
  margin-bottom: 10px;
}

.team-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 483px) {
  .team-items {
    margin-bottom: 15px;
    margin-top: 10px;
  }
}

.team-items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-item {
  border: 1px solid white;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 16px -1px rgba(0, 224, 208, 0.7);
          box-shadow: 1px 1px 16px -1px rgba(0, 224, 208, 0.7);
}

@media screen and (max-width: 483px) {
  .team-item {
    margin-bottom: 20px;
  }
}

.team-item:hover {
  -webkit-box-shadow: 1px 1px 16px 10px rgba(0, 224, 209, 0.7);
          box-shadow: 1px 1px 16px 10px rgba(0, 224, 209, 0.7);
}

.team-item__foto {
  width: 220px;
  height: 229px;
  margin-bottom: 10px;
}

.team-item__name {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.team-item__position {
  opacity: 0.7;
  color: #fafafa;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 20px;
}

.team-welcome {
  color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 16px;
}

.team-button {
  color: #00e0d0;
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 55px 10px 55px;
  text-transform: uppercase;
  border: 1px solid #00e0d0;
  border-radius: 6px;
  background-color: rgba(69, 27, 111, 0);
}

@media screen and (max-width: 947px) {
  .team-button {
    font-size: 20px;
    padding: 18px 55px 14px 55px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 483px) {
  .team-button {
    font-size: 18px;
    padding: 17px 35px 15px 35px;
  }
}

.team-button:hover {
  color: #423275;
  border: 1px solid #423275;
  background-color: #ffffff;
}

.our-works {
  max-width: 1600px;
  margin: auto;
  min-height: 737px;
}

.works-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media screen and (max-width: 1064px) {
  .works-header {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 798px) {
  .works-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.works-header__title {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

@media screen and (max-width: 798px) {
  .works-header__title {
    margin-bottom: 35px;
  }
}

.works-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.works-header__link:hover {
  color: #423275;
}

.works-header__text {
  color: #423275;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin-right: 5px;
}

.works-header__text:hover {
  color: #423275;
}

.works-header__arrow:hover {
  color: #423275;
}

.works-items {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-item {
  width: 266px;
  height: 200px;
  padding: 0px;
  margin: 0px;
}

.works-footer {
  padding-top: 70px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-footer__btn {
  color: #8b8b8b;
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 55px 10px 55px;
  text-transform: uppercase;
  border: 1px solid #8d8d8d;
  border-radius: 6px;
  background-color: white;
}

@media screen and (max-width: 947px) {
  .works-footer__btn {
    font-size: 20px;
    padding: 18px 55px 14px 55px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.works-footer__btn:hover {
  color: white;
  border: 1px solid #ffffff;
  background-color: #666666;
}

.feedbacks {
  max-width: 1600px;
  margin: auto;
  background-color: #311655;
}

.feedbacks-wrapper {
  max-width: 1600px;
  margin: auto;
  background-color: #311655;
  background: url("../img/feedbacks/feedbackfon.png") no-repeat;
  block-size: contain;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 947px) {
  .feedbacks-wrapper {
    background: url("../img/feedbacks/feedbackfon2.png");
  }
}

@media screen and (max-width: 483px) {
  .feedbacks-wrapper {
    background: url("../img/feedbacks/feedbackfon2.png");
  }
}

.feedbacks-symbol {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 3px;
  margin-top: 35px;
  margin-bottom: 21px;
}

.feedbacks-text {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.4px;
  max-width: 770px;
  margin: auto;
  margin-top: 21px;
  margin-bottom: 26px;
}

.feedbacks-member {
  margin-top: 26px;
  margin-bottom: 23px;
}

.feedbaks-member__name {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.feedbacks-member__position {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}

.feedbacks-fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  margin-bottom: 34px;
}

.feedbacks-fotos__arrow-left {
  margin-right: 15px;
}

.feedbacks-fotos__item {
  margin-left: 7px;
  margin-right: 8px;
}

.feedbacks-fotos__arrow-right {
  margin-left: 15px;
}

.prefooter {
  max-width: 1600px;
  margin: auto;
  padding-top: 36px;
  padding-bottom: 35px;
}

.prefooter-wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .prefooter-wrapper-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.inputs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media screen and (max-width: 1000px) {
  .inputs-block {
    margin-bottom: 40px;
  }
}

.input-title {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-top: 36px;
  margin-bottom: 35px;
}

@media screen and (max-width: 1000px) {
  .input-title {
    margin: auto;
    margin-bottom: 20px;
  }
}

.input-name {
  opacity: 0.5;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 21px;
  margin-bottom: 22px;
  min-width: 460px;
}

@media screen and (max-width: 500px) {
  .input-name {
    min-width: 330px;
  }
}

.input-email {
  opacity: 0.5;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 21px;
  margin-bottom: 22px;
  min-width: 460px;
}

@media screen and (max-width: 500px) {
  .input-email {
    min-width: 330px;
  }
}

.input-subject {
  opacity: 0.5;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 21px;
  margin-bottom: 22px;
  min-width: 460px;
}

@media screen and (max-width: 500px) {
  .input-subject {
    min-width: 330px;
  }
}

.input-area {
  opacity: 0.5;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 21px;
  margin-bottom: 22px;
  min-width: 460px;
  max-width: 460px;
  min-height: 200px;
}

@media screen and (max-width: 500px) {
  .input-area {
    min-width: 330px;
  }
}

.input-button {
  color: #ffffff;
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 60px 14px 60px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: #423275;
  margin-bottom: 35px;
  min-width: 460px;
}

@media screen and (max-width: 1000px) {
  .input-button {
    min-width: 460px;
  }
}

@media screen and (max-width: 500px) {
  .input-button {
    min-width: 330px;
  }
}

.input-button:hover {
  color: #423275;
  border: 1px solid #423275;
  background-color: white;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media screen and (max-width: 500px) {
  .clients {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clients__title {
  color: #413d4b;
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-top: 36px;
  margin-bottom: 35px;
}

@media screen and (max-width: 1000px) {
  .clients__title {
    margin: auto;
    margin-bottom: 40px;
  }
}

.clients-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 500px) {
  .clients-logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.clients-logos__col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-right: 80px;
}

@media screen and (max-width: 500px) {
  .clients-logos__col1 {
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clients-logos__col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media screen and (max-width: 500px) {
  .clients-logos__col2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clients-logos__item {
  margin-bottom: 45px;
}

.footer {
  max-width: 1600px;
  margin: auto;
  background-color: #311655;
}

.footer-wrapper {
  max-width: 1600px;
  margin: auto;
  background: url("../img/footer/footer-fon.png") no-repeat;
  block-size: cover;
  background-position: 50%;
}

.footer-wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-top {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 283px;
  margin-right: 36px;
}

.footer-col1__desrc {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
  margin-top: 37px;
}

.footer-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 267px;
  margin-top: 15px;
  margin-right: 62px;
}

.footer-col2__title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 42px;
}

.footer-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 15px;
}

.fa-map-marker-alt {
  color: #ffffff;
  font-size: 20px;
  margin-right: 16px;
}

.footer-location__adress {
  color: #ffffff;
  font-family: "Roboto" , sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
}

.footer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.fa-phone {
  color: #ffffff;
  font-size: 20px;
  margin-right: 16px;
}

.footer-phone__number {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
}

.footer-col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 291px;
  margin-top: 15px;
}

.footer-col3__title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.footer-subscriber {
  margin-top: 39px;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer-subscriber__input {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.7px;
  padding: 17px 18px 17px 16px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 6px 0 0 6px;
  width: 211px;
}

.footer-subscribe__btn {
  background-color: #fff;
  border-radius: 0px 6px 6px 0px;
}

.fa-paper-plane {
  padding: 14px 20px 10px 20px;
  font-size: 30px;
  background-color: #ffffff;
  color: #311655;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-facebook-f {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  padding: 10px 13px 10px 13px;
}

.fa-twitter {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  padding: 10px 10px 10px 10px;
}

.fa-globe {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  padding: 10px 10px 10px 10px;
}

.fa-instagram {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  padding: 10px 11px 10px 11px;
}

.fa-google-plus-g {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  padding: 10px 9px 10px 9px;
}

.fa-youtube {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  padding: 10px 10px 10px 10px;
}

.footer-bottom {
  margin-top: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom-left-item {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin-right: 30px;
}

.footer-bottom-right {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.35px;
}

/**************************************************/
/*# sourceMappingURL=style.css.map */