.expertise {
    max-width: 1600px;
    margin: auto;
}
.expertise-titles {
    padding-top: 30px;
    padding-bottom: 50px;
    @media screen and (max-width: 960px) {
        padding-top: 15px;
        padding-bottom: 15px;        
    }
}
.expertise-title {
    color: rgb(65, 61, 75);
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 30px;
    margin-bottom: 13px;
    @media screen and (max-width: 960px) {
    
    }
}
.expertise-subtitle {
    opacity: 0.75;
    color: rgb(47, 45, 53);
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px;
    margin-bottom: 18px;
}
.expertise-underline {
    width: 50px;
    height: 2px;
    background-color: rgb(65, 61, 75);
    opacity: 0.3;
}
.expertise-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 80px;
    @media screen and (max-width: 960px) {  
        padding-bottom: 40px;
    }
}
.expertise-item {
    max-width: 254px;
    padding-top: 25px;
    padding-bottom: 20px;
    @media screen and (max-width: 960px) {  
        margin-left: 20px;
        margin-right: 20px;  
        max-width: 350px;
    }
    @media screen and (max-width: 800px) {  
        max-width: 400px;
    }
}
.expertise-item__logo {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 39px;
    @media screen and (max-width: 960px) {  
        margin-bottom: 20px;
    }
}
.expertise-item__title {
    color: rgb(65, 61, 75);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-bottom: 25px;
    white-space: nowrap;
}
.expertise-item__descr {
    opacity: 0.75;
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.7px;
}