$feedbacks-purple : rgb(49, 22, 85);
$feedbacks-white : rgb(255, 255, 255);
.feedbacks {
    max-width: 1600px;
    margin: auto;
    background-color: $feedbacks-purple;
}
.feedbacks-wrapper {
    max-width: 1600px;
    margin: auto;
    background-color: $feedbacks-purple;
    background: url('../img/feedbacks/feedbackfon.png') no-repeat;
    block-size: contain;
    background-position: center;
    padding: 20px 0;
    @media screen and (max-width:947px) {
        background: url('../img/feedbacks/feedbackfon2.png');
    }
    @media screen and (max-width:483px) {
        background: url('../img/feedbacks/feedbackfon2.png');
    }
}
.feedbacks-symbol {
    color: $feedbacks-white;
    font-family: $PD;
    font-size: 40px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 3px;
    margin: 35px 0 21px 0;
}
.feedbacks-text {
    color: $feedbacks-white;
    font-family: $PD;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
    max-width: 770px;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 26px;
}
.feedbacks-member {
    margin: 26px 0 23px 0;
}
.feedbaks-member__name {
    color: $feedbacks-white;
    font-family: $R;
    font-size: 14px;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.feedbacks-member__position {
    color: $feedbacks-white;
    font-family: $R;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
}
.feedbacks-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px 0 34px 0;
}
.feedbacks-photos__arrow-left {
    margin-right: 15px;
}
.feedbacks-photos__item {
    margin: 0 8px 0 7px;
}
.feedbacks-photos__arrow-right {
    margin-left: 15px;
}