.form {
    max-width: 1600px;
    margin: auto;
    padding: 36px 0 35px 0;
}
.form-wrapper-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
        margin: auto;
        text-align: center;
        align-items: center;
    }
}
.inputs-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    @media screen and (max-width: 1000px) {
        margin-bottom: 40px;
    }
}
.input-title {
    color: rgb(65, 61, 75);
    font-family: $PD;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin: 36px 0 35px 0;
    @media screen and (max-width: 1000px) {
        margin: auto;
        margin-bottom: 20px;
    }
}
.input-name {
    opacity: 0.5;
    color: rgb(65, 61, 75);
    font-family: $R;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 18px 0 17px 21px;
    margin-bottom: 22px;
    min-width: 460px;
    @media screen and (max-width: 500px) {
        min-width: 320px;
    }
}
.input-email {
    opacity: 0.5;
    color: rgb(65, 61, 75);
    font-family: $R;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 18px 0 17px 21px;
    margin-bottom: 22px;
    min-width: 460px;
    @media screen and (max-width: 500px) {
        min-width: 320px;
    }
}
.input-subject {
    opacity: 0.5;
    color: rgb(65, 61, 75);
    font-family: $R;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 18px 0 17px 21px;
    margin-bottom: 22px;
    min-width: 460px;
    @media screen and (max-width: 500px) {
        min-width: 320px;
    }
}
.input-area {
    opacity: 0.5;
    color: rgb(65, 61, 75);
    font-family: $R;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 18px 0 17px 21px;
    margin-bottom: 22px;
    min-width: 460px;
    max-width: 460px;
    min-height: 200px;
    @media screen and (max-width: 500px) {
        min-width: 320px;
    }
}
.input-button {
    color: rgb(255, 255, 255);
    font-family: $HO;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 60px 14px 60px;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    background-color: rgb(66, 50, 117);
    margin-bottom: 35px;
    min-width: 460px;
    @media screen and (max-width: 1000px) {
        min-width: 460px;
    }
    @media screen and (max-width: 500px) {
        min-width: 320px;
    }
}
.input-button:hover{
    color: rgb(66, 50, 117);
    border: 1px solid rgb(66, 50, 117);
    background-color: rgb(255, 255, 255);
}
.clients {
    display: flex;
    flex-direction: column;
    align-items: start;
    @media screen and (max-width: 500px) {
        align-items: center;
    }
}
.clients__title {
    color: rgb(65, 61, 75);
    font-family: $PD;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin: 36px 0 35px 0;
    @media screen and (max-width: 1000px) {
        margin: auto;
        margin-bottom: 40px;
    }
}
.clients-logos {
    display: flex;
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
}
.clients-logos__col1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 80px;
    @media screen and (max-width: 500px) {
        margin-right: 0;
        align-items: center;
    }
}
.clients-logos__col2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    @media screen and (max-width: 500px) {
        align-items: center;
    }
}
.clients-logos__item {
    margin-bottom: 45px;
}
