html{
    scroll-behavior: smooth;
}
body{
    overflow: auto;
}
.main-container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}