.our-works {
    max-width: 1600px;
    margin: auto;
    min-height: 737px;
}
.main-container {}
.works-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    @media screen and (max-width: 1064px) {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media screen and (max-width: 798px) {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.works-header__title {
    color: rgb(65, 61, 75);
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    @media screen and (max-width: 798px) {
        margin-bottom: 35px;
    }
}
.works-header__link {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.works-header__link:hover{
    color: #423275;
}
.works-header__text {
    // color: rgb(65, 61, 75);
    color: #423275;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    margin-right: 5px;
}
.works-header__text:hover{
    color: #423275;
}
.works-header__arrow {}
.works-header__arrow:hover{
    color: #423275;
}
.works-items {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.works-item {
    width: 266px;
    height: 200px;
    padding: 0px;
    margin: 0px;
}
.works-footer {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.works-footer__btn {
    color: rgb(139, 139, 139);
    font-family: "Hammersmith One", sans-serif;
    font-size: 16px;
    font-weight: 500;
    // padding: 13px 15px 10px 15px;
    padding: 13px 55px 10px 55px;
    text-transform: uppercase;
    border: 1px solid #8d8d8d;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    @media screen and (max-width: 947px) {
        font-size: 20px;
        padding: 18px 55px 14px 55px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
.works-footer__btn:hover{
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    background-color: rgb(102, 102, 102);
}
