.story {
    margin: auto;
    max-width: 1600px;
    min-height: 400px;
}
.story-wrapper {
    max-width: 1600px;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    @media screen and (max-width: 950px) {
        padding: 70px 30px;
    }
    @media screen and (max-width: 675px) {
        flex-direction: column;
        align-items: center;
        padding: 35px 30px;
    }
}
.story-logo {
    margin-right: 100px;
    @media screen and (max-width: 810px) {
        margin-right: 50px;
    }
    @media screen and (max-width: 675px) {
        margin-right: 0;
    }
}
.big-logo {
    width: 235px;
    @media screen and (max-width: 810px) {
        width: 150px;
    }
}
.story-text {
    text-align: left;
    max-width: 538px;
    @media screen and (max-width: 675px) {
        text-align: center;
    }
}
.story-title {
    color: rgb(65, 61, 75);
    font-family: $PD;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-bottom: 28px;
    @media screen and (max-width: 675px) {
        margin-top: 30px;
    }
}
.story-descr__p {
    color: rgb(65, 61, 75);
    font-family: $R;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.42px;
    margin-bottom: 20px;
}
.story-btn {
    color: rgb(13, 226, 210);
    font-family: $HO;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 15px 10px 15px;
    text-transform: uppercase;
    border: 1px solid rgb(0, 224, 208);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    @media screen and (max-width: 675px) {
        font-size: 20px;
        padding: 18px 55px 14px 55px;
        margin: 10px 0 5px 0;
    }
}
.story-btn:hover {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(66, 50, 117);
    background-color: rgb(66, 50, 117);
}