.story-video {
    max-width: 1600px;
    height: 550px;
    margin: 0 auto;
    background: url("./img/story-video/video-story.png") no-repeat;
    block-size: cover;
    background-position: 50%;
    background-color: rgb(49, 22, 85);
}
.main-container {}
.story-video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
}
.story-video__play {}
.story-video__watch {
    color: #ffffff;
    font-family: "Roboto Black", sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-top: 34px;
}
