.story-video .main-container{
    padding-left: 0;padding-right: 0;
}
.story-video {
    max-width: 1600px;
    min-height: 315px;
    margin: 0 auto;
    background-color: rgb(49, 22, 85);
    @media screen and (max-width: 560px) {
        min-height: 0;
    }
}
.main-container {}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}