.works {
    margin: auto;
    max-width: 1600px;
    min-height: 737px;
}
.works-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    @media screen and (max-width: 1064px) {
        padding: 40px 80px 40px 80px;
    }
    @media screen and (max-width: 798px) {
        flex-direction: column;
        padding: 30px 0px;
    }
}
.works-header__title {
    color: rgb(65, 61, 75);
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    @media screen and (max-width: 798px) {
        margin-bottom: 35px;
    }
}
.works-header__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.works-header__link:hover{
    color: rgb(66, 50, 117);
}
.works-header__text {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    margin-right: 5px;
}
.works-header__text:hover{
    color: rgb(66, 50, 117);
}
.works-header__arrow{
    color: rgb(0, 0, 0);
}
.works-header__arrow:hover{
    color: rgb(66, 50, 117);
}
.works-items {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.works-item {
    width: 266px;
    height: 200px;
    padding: 0px;
    margin: 0px;
}
.works-footer {
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.works-footer__btn {
    color: rgb(139, 139, 139);
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 55px 10px 55px;
    text-transform: uppercase;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    @media screen and (max-width: 947px) {
        font-size: 20px;
        padding: 18px 55px 14px 55px;
        margin: 10px 0 5px 0;
    }
}
.works-footer__btn:hover{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}
