.prefooter {
    max-width: 1800px;
    margin: auto;
    // min-height: 500px;
    padding-top: 36px;
    padding-bottom: 35px;

    background-color: rgb(114, 193, 230);
}
.prefooter-wrapper {
}
.main-container {}

.prefooter-wrapper-inner {
    display: flex;
    flex-direction: row;
    
}
.inputs-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 50px;
}
.input-title {
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-top: 36px;
    margin-bottom: 35px;
}
.input-name {
    opacity: 0.5;
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;

    border: 1px solid rgba(0, 0, 0, 0.1);

    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 21px;
    margin-bottom: 22px;
    min-width: 460px;
}
.input-email {
    opacity: 0.5;
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;

    border: 1px solid rgba(0, 0, 0, 0.1);

    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 21px;
    margin-bottom: 22px;
    min-width: 460px;
}
.input-subject {
    opacity: 0.5;
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;

    border: 1px solid rgba(0, 0, 0, 0.1);

    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 21px;
    margin-bottom: 22px;
    min-width: 460px;
}
.input-area {
    opacity: 0.5;
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;

    border: 1px solid rgba(0, 0, 0, 0.1);

    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 21px;
    margin-bottom: 22px;
    min-width: 460px;
    max-width: 460px;
    min-height: 200px;
}
.input-button {
    color: #00e0d0;
    font-family: "Hammersmith One";
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);

    margin-bottom: 35px;

}
.clients {
    display: flex;
    flex-direction: column;
    align-items: start;
    // margin-right: 50px;
}
.clients__title {
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-top: 36px;
    margin-bottom: 35px;
}
.clients-logos {
    display: flex;
    
}
.clients-logos__col1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 80px;
   
}

.clients-logos__col2 {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.clients-logos__item {
    margin-bottom: 45px;
}
